.Tnamemaincontainer {
    position: absolute;
    top: 10%;
    width: 100%;
    height: 90%;
}

.progress {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 10%; 
    /* outline: 2px solid blue; */
}

.number1 {
    position: absolute;
    top: 30%;
    left: 2.5%;
    height: 28px;
    width: 28px;
    font-size: medium;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFDD0;
    background-color: #0077b6;
}

.team{
    position: absolute;
    top: 37%;
    left: 5.5%;
    font-weight: bold;
    font-size: medium;
}

.line1 {
    position: absolute;
    top: 55%;
    left: 10%;
    width: 33%;
    height: 1.5%;
    background-color: #C4C4C4;
}

.number2 {
    position: absolute;
    top: 30%;
    left: 43.75%;
    height: 28px;
    width: 28px;
    font-size: medium;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFDD0;
    background-color: #C4C4C4;
}

.overs{
    position: absolute;
    top: 37%;
    left: 47%;
    font-size: medium;
    color: #56564C;
}

.line2 {
    position: absolute;
    top: 55%;
    left: 51.5%;
    width: 33%;
    height: 1.5%;
    background-color: #C4C4C4;
}

.number3 {
    position: absolute;
    top: 30%;
    left: 85.25%;
    height: 28px;
    width: 28px;
    font-size: medium;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFDD0;
    background-color: #C4C4C4;
}

.Batting {
    position: absolute;
    top: 37%;
    left: 88.5%;
    font-size: medium;
    color: #56564C;
}

.boxforinput {
    position: absolute;
    top: 26%;
    left: 10%;
    width: 80%;
    height: 50%;
    outline: 1px solid black;
}

.Rounded-input1 {
    position: absolute;
    top: 15%;
    left: 31.5%;
    width: 21%;
    line-height: 26px;
    /* border-radius: 10%; */
    padding-left: 15px;
    border: 1.5px solid black;
    border-radius: 25px;
    box-shadow: 0px 0px 0px 1px #C4C4C4;
}

.confirmbutton1 {
    position:absolute;
    top: 16.5%;
    left: 56%;
    border-radius: 25px;
    padding: 5px 30px;
    background-color: #0077b6;
    color: #FFFDD0;
    font-size: 14px;
    border: none;
    cursor: pointer;
    width: 15%;
    line-height: 90%;
    text-align: center;
    transition: all 0.3s ease;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);

}

.confirmbutton1:hover {
    background-color: #006699;
}

.vstext {
    position: absolute;
    top: 32%;
    left: 42.5%;
    font-size: large;
    font-weight: bold;
    /* color: #FFFDD0; */
}

.Rounded-input2 {
    position: absolute;
    top: 45%;
    left: 31.5%;
    width: 21%;
    line-height: 26px;
    border-radius: 25px;
    padding-left: 15px;
    border: 1.5px solid black;
    border-radius: 25px;
    box-shadow: 0px 0px 0px 1px #C4C4C4;
}

.confirmbutton2 {
    position:absolute;
    top: 46%;
    left: 56%;
    border-radius: 25px;
    padding: 5px 30px;
    background-color: #0077b6;
    color: #FFFDD0;
    font-size: 14px;
    border: none;
    cursor: pointer;
    width: 15%;
    line-height: 90%;
    text-align: center;
    transition: all 0.3s ease;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.confirmbutton2:hover {
    background-color: #006699;
}

.nextbutton {
    position:absolute;
    top: 65%;
    left: 38.5%;
    border-radius: 25px;
    padding: 5px 30px;
    background-color: #0077b6;
    color: #FFFDD0;
    font-size: 14px;
    border: none;
    cursor: pointer;
    width: 10%;
    line-height: 90%;
    text-align: center;
    transition: all 0.3s ease;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);

}

.nextbutton:hover {
    background-color: #006699;
}